streamlit
python-dotenv
langchain
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-text-splitters
faiss-cpu
chromadb
beautifulsoup4
requests
pandas
numpy
portkey-ai
langsmith
openevals
langfuse
langchain-qdrant
qdrant-client